<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
 <!-- <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
 -->

  <nav class="sidebar-nav">
<!--     <a class="sidebar-nav-item{% if page.url == site.baseurl %}
         active{% endif %}" href="{{ site.baseurl }}/">Home</a> -->

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

<!-- Disable Automatic Generation of Sidebar Links -->
    {% comment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% endcomment %}

    {% for link in site.slinks %}
        <a class="sidebar-nav-item{% if page.url == link.url %} active{%
        endif %}" href="{{ site.baseurl  }}{{ link.url  }}">{{ link.title
        }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
     I'm a PhD candidate in <a href="{{ site.urls.uscee }}">Electrical
     Engineering</a> at the <a href="{{ site.urls.usc }}">University of
     Southern California</a> working with <a href="{{ site.urls.bhaskar
     }}">Prof. Bhaskar Krishnamachari</a>. My current research focuses
     on robust estimation and algorithm design for indoor
     localization.
    </p>
    <p class="social-icons">
    <a href="{{ site.author.github }}"><i class="fa fa-github fa-2x"></i></a>
    <a href="{{ site.author.scholar }}"><i class="fa fa-google fa-2x"></i></a>
    <a href="{{ site.author.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="{{ site.author.linkedin }}"><i class="fa fa-linkedin fa-2x"></i></a>
    <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope fa-2x"></i></a>
    </p>
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
